{{ if isset .Site.Taxonomies "categories" }}
  {{ $catsLen := len .Site.Taxonomies.categories }}
  {{ if gt $catsLen 0 }}
    <div class="post-cats">
      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
          <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>&nbsp&nbsp•&nbsp&nbsp
      {{end}}
    </div>
  {{ end }}
{{ end }}
