<div class="page_footer">
  <p>{{ with .Site.Copyright }}{{ . | markdownify}}{{ end }}. Powered by <a href="http://gohugo.io/">Hugo</a> and <a href="https://gitlab.com/ndarwincorn/cornpetitive-advantage">Cornpetitive Advantage</a>.</p>
</div>
