{{ if isset .Site.Params "isso_path" }}
  <script data-isso="{{ printf "//%s" .Site.Params.isso_path }}"
          data-isso-css="true"
          data-isso-reply-to-self="true"
          data-isso-require-author="true"
          data-isso-require-email="true"
          data-isso-max-comments-top="10"
          data-isso-max-comments-nested="5"
          data-isso-avatar="true"
          data-isso-vote="true"
          data-isso-vote-levels="-5,5"
          src="{{ printf "//%s/js/embed.min.js" .Site.Params.isso_path }}"></script>
  <section id="isso-thread"></div>
{{ end }}
