<style type="text/css">
  .masthead-hero {
    {{ if isset .Params "hero_image" }}
      {{ $url := (printf "img/%s" .Params.hero_image) }}
      background-image: url("{{ $url | absURL }}");
    {{ else }}
      {{ $url := (printf "img/%s" .Site.Params.hero_image) }}
      background-image: url("{{ $url | absURL }}");
    {{ end }}
  }
</style>

<div class="masthead-hero"></div>
