<div class="navbar-hero">
  <nav>
    {{ if isset .Site.Taxonomies "categories" }}
      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
        <a href="{{ "/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>&nbsp&nbsp•&nbsp&nbsp
      {{end}}
    {{else}}
      <a href="/blog">blog</a>
      <a href="/projects">projects</a>
    {{end}}
    <a href="/about">about</a>
  </nav>
</div>
