<article class="post" itemscope itemtype="http://schema.org/Article">
  <div class="post-container">
    <h1 itemprop="name"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

    {{ if not .Params.nometadata }}
      {{ partial "post_metadata" (dict "content" . "is_list" 0) }}
    {{ end }}

    <div class="post-style" itemprop="articleBody">
      {{ .Description }}
      {{ .Content }}
    </div>

    {{ if not .Params.notags }}
      {{ partial "tags.html" . }}
    {{ end }}

    {{ if not .Params.noshare }}
      {{ partial "share.html" . }}
    {{ end }}

    {{ if not .Params.nocomments }}
      {{ partial "isso.html" . }}
    {{ end }}

  </div>
</article>
