{{ if isset .Params "tags" }}
  {{ $tagsLen := len .Params.tags }}
  {{ if gt $tagsLen 0 }}
    <div class="post-tags">
      {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
